<!DOCTYPE html>
<html>
<%- include partial/header %>
<body>
  <h3>Items Update</h3>
  <a href="/items">Home</a>
  <form action="/items/edit/<%-items.id%>" method="post">
    <p>Name</p>
    <input type="text" name="name" value="<%-items.name%>">
    <p>Brand</p>
    <input type="text" name="brand" value="<%-items.brand%>">
    <p>Code Item</p>
    <input type="text" name="codeitem" value="<%-items.codeitem%>">
    <p>
    <input type="submit" value="UPDATE">
    </p>
  </form>
</body>
</html>
